@using BookShop.Admin.Model
@using System.ComponentModel.DataAnnotations

<div class="login__form">
    <EditForm Model="@_login" Context="EditFormContext">
           <DataAnnotationsValidator />
           <div class="card-header text-center py-3">
               <h4>Welcome to Admin Panel</h4>
           </div>
           <div class="card-body">
               <DxFormLayout>
                   <DxFormLayoutItem ColSpanMd="12">
                       <label for="tbUsername" class="d-none">Username</label>
                       <DxTextBox @bind-Text="@_login.Login"
                                  NullText="Username"
                                  ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                  InputId="tbUsername" />
                       <div class="text-danger">
                           <ValidationMessage For="@(() => _login.Login)" />
                       </div>
                   </DxFormLayoutItem>
                   <DxFormLayoutItem ColSpanMd="12">
                       <label for="tbPassword" class="d-none">Password</label>
                       <DxTextBox @bind-Text="@_login.Password"
                                  NullText="Password"
                                  Password="true"
                                  ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                  InputId="tbPassword" />
                       <div class="text-danger">
                           <ValidationMessage For="@(() => _login.Password)" />
                       </div>
                       @if (!IsShow)
                       {
                           <div class="text-danger">
                               <div class="validator-message">
                                   Неправильный логин или пароль.
                               </div>
                           </div>
                       }
                   </DxFormLayoutItem>
                   
                   <DxFormLayoutItem ColSpanMd="12">
                       <DxButton CssClass="w-100"
                                 Text="Login"
                                 RenderStyle="ButtonRenderStyle.Primary"
                                 SubmitFormOnClick="true" 
                                 Click="GotoLoginEventCallbackClick"
                                 />
                   </DxFormLayoutItem>
               </DxFormLayout>
           </div>
       </EditForm>
   </div>



@code {
    private LoginModel _login = new();

    [Parameter,EditorRequired]
    public bool IsShow { get; set; }
    
    [Parameter]
    public EventCallback<LoginModel> LoginEventCallback { get; set; }
    
    async Task GotoLoginEventCallbackClick() {
        await LoginEventCallback.InvokeAsync(_login);
    }

}